.input_validate {
    width: 500px;
    height: 48px;

    background: #FFFFFF;
    border: 1px solid #D4D4D4;

    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 119.19%;

    color: #000000;

}

.password_input {
    display: flex;
    justify-content: space-between;
}

.password_input .input_validate{
    width: 450px;

}

.password_btn {
    width: 50px;
    height: 48px;

    background: #FFFFFF;
    border: 1px solid #D4D4D4;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.105em;
    color: rgba(0, 0, 0, 0.55);
}

.search_input {
    width: 80%;
    height: 36px;

    background: #FFFFFF;
    border: 1px solid #D4D4D4;

    padding-left: 16px;
    padding-right: 16px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;

    color: #000000;
    border-radius: 4px;

}