.input_validate {
    width: 500px;
    height: 48px;

    background: #FFFFFF;
    border: 1px solid #D4D4D4;

    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 119.19%;


    color: #000000;

}