.container {
    display: grid;
    align-content: start;
    justify-content: center;
    row-gap: 20px;
}

.container h2{
    display: grid;
    align-items: start;
    justify-items: center;
}

.container h3{
    text-transform: uppercase;
    display: grid;
    align-items: start;
    justify-items: center;
}

.container ul {
    display: grid;
    row-gap: 30px;
}

.tableHeader {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: #FFFFFF;
}

.tableHeader div{
    margin: 0 auto;
}
.item {

    user-select: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 380px;
    height: 40px;
    background: #3F3F3F;
    justify-items: center;
    align-content: center;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    list-style-type: none;
}

.action_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: end;
    width: 130px;
    height: 36px;
    border-radius: 4px;
    background: #E8505B;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    border: none;
}