
.particles-js {
    height: 100%;
    background-color: #000000;
    background-image: url("Back GLHF.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: 50% 50%;
}