.container {
    max-width: 200px;
    width: 100%;
    max-height: 260px;
    height: 100%;
    background: #3F3F3F;
    display: grid;
    grid-template-rows: 64px 24px 20px 20px 20px;

}

.game_icon {
    display: block;
    grid-row: 1 / 1;
    max-width: 68px;
    width: 100%;
    max-height: 64px;
    height: 100%;
}