ul {
    padding: 0;
    margin: 0;
}

.menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}
.menu li {
    display: flex;
    list-style-type: none;
}

.dot {
    width: 8px;
    height: 8px;
    border: 2px solid #FFFFFF;
    border-radius: 100%;
}

.active {
    background: #FFFFFF;
}