

.logo {
    display: block;
    grid-area: logo;
}


.profile_icon {
    cursor: pointer;
    grid-area: profile_icon;
    z-index: 10;
}

.profile_icon img {
    height: 36px;
    width: 36px;
}


.nav {
    grid-area: nav
}

.bookedPc {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 450px;
    height: 36px;
    background: #000000;
    border-radius: 4px;
    z-index: 5;
    right: 10%;
    /*top: 0;*/
    top: 50px;
}
.header {
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 119.19%;

    letter-spacing: 0.05em;

    color: #FFFFFF;
}
.cross {
    cursor: pointer;
}
.idPc {
    text-transform: uppercase;

}

.price {
    text-transform: uppercase;
}

.price span{
    text-transform: uppercase;
    color: #E8505B;
    font-weight: 900;

}
.menu {
    width: 500px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.menu li a.active {
    color: #E8505B;
}

.menu li a.active:after {
background: #E8505B;
}


.item {
    text-decoration: none;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.195em;
}

.item:hover {
    color: #E8505B;
}

.item:hover:after {
    background: #E8505B;
}


.item:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #FFFFFF;
    margin-top: 2px;
}


